@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Sen:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap');
:root {
  --color-primary: #013243;
  --color-accent: #32f5c8;
  --color-text: #99b0b9;
  --text-body: 'Inter', sans-serif;
  --text-heading: 'Sen', sans-serif;
}

body {
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: 10rem;
  padding-block-start: 5rem;
  position: relative;
}

.text {
  display: grid;
  grid-template-rows: 1fr 100px 100px;
  margin-block-start: 2rem;
}

.text-big > #t1 {
  font-family: var(--text-heading);
  font-weight: 700;
  text-transform: capitalize;
  font-size: clamp(9rem, 0.7861rem + 8.5561vw, 6rem);
  line-height: 0.9;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  color: var(--color-accent);
  z-index: 0;
}

.text-big > #t2 {
  position: absolute;
  font-family: var(--text-heading);
  font-weight: 700;
  font-size: 9em;
  color: var(--color-accent);
  margin-block-start: -1.35rem;
  z-index: 2;
}

.text-small {
  font-family: var(--text-body);
  font-weight: 500;
  font-size: 1.3em;
  color: var(--color-text);
  margin-block-start: 2.5rem;
}

.text button {
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  border: hidden;
  background-color: var(--color-accent);
  font-family: var(--text-body);
  font-size: 1.2em;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
  margin-block-start: 2rem;
}

.text button:active {
  transform: scale(0.99);
  box-shadow: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-block-start: 5rem;
}

.logo img {
  width: 50px;
}

.logo span {
  /* display: inline-block; */
  font-family: var(--text-body);
  font-size: 1em;
  font-weight: 600;
  color: var(--color-text);
}

.img .avatar1 {
  position: absolute;
  top: 35.5vh;
  left: 72.3vw;
}

.img .avatar2 {
  position: absolute;
  top: 10%;
  left: 70%;
}

.img .avatar3 {
  position: absolute;
  top: 15%;
  left: 3.5%;
  z-index: -2;
}

.img .avatar4 {
  position: absolute;
  top: 70%;
  left: 61%;
}

.img .avatar5 {
  position: absolute;
  top: 16%;
  left: 58%;
  z-index: -2;
}

.img .avatar6 {
  position: absolute;
  top: 49%;
  left: 46%;
  z-index: 1;
}

/* breakpoint responsive */
@media screen and (min-width: 48em) and (max-width: 61em) {
  .container {
    padding-inline: 3rem;
    padding-block-start: 3rem;
  }

  .text {
    margin-block-start: 15rem;
  }

  .text-big :is(#t1, #t2) {
    font-size: 6.5rem;
  }

  .text-small {
    font-size: 1.7rem;
    width: 75%;
  }

  .text button {
    width: 30vw;
  }

  .logo {
    margin-block-start: 17rem;
  }

  .img .avatar1 {
    top: 30%;
    left: 80%;
  }

  .img .avatar2 {
    top: 7%;
  }

  .img .avatar3 {
    top: 10%;
    left: 7%;
  }

  .img .avatar4 {
    left: 50%;
  }

  .img .avatar5 {
    top: 24%;
    left: 65%;
  }

  .img .avatar6 {
    top: 46%;
    left: 68%;
  }
}
@media screen and (min-width: 22.5em) and (max-width: 47em) {
  /* mobile */
  .container {
    padding-inline: 2rem;
    padding-block-start: 1rem;
  }

  .text {
    margin-block-start: 12rem;
  }

  .text-big :is(#t1, #t2) {
    font-size: 4rem;
  }
  & #t2 {
    padding-block-start: 0.6rem;
  }

  .text-small {
    font-size: 1.5rem;
  }

  .text button {
    width: 75vw;
    height: 10vh;
    margin-block-start: 4rem;
  }

  .logo {
    margin-block-start: 18rem;
  }

  .img .avatar3 {
    top: 13%;
    left: 20%;
  }

  .img .avatar2 {
    top: 13%;
    z-index: -2;
  }

  .img .avatar6 {
    top: 66%;
    left: 66%;
    z-index: -2;
  }

  .img .avatar1 {
    display: none;
  }

  .img .avatar4 {
    display: none;
  }

  .img .avatar5 {
    display: none;
  }
}
